<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document/<%= title%></title>
</head>
<body>
     <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs/create">New blogs</a>

     </nav>
     <div>
        <form>
            <label for="title">Blog</label>
        <input type="text" id="title" required>
        <label for="snipett">snipett </label>
        <input type="text" id="snipett" required>
       
        <label for="body">body </label>
        <textarea type="text" id="body" required></textarea>
        <button>submit</button>
        </form>
     </div>
</body>
</html>